
@{
    ViewBag.Title = "CancerName";
}

<h2>肿瘤名称</h2>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("PathologyType")" method="post">
            <h3>呼吸系统</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="鼻咽癌" />
                    鼻咽癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="下咽癌" />
                    下咽癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="喉癌" />
                    喉癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="肺癌" />
                    肺癌
                </label>
            </div>
            <h3>消化系统</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="食管癌" />
                    食管癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="胃癌" />
                    胃癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="原发性肝癌" />
                    原发性肝癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="胆囊癌" />
                    胆囊癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="胰腺癌" />
                    胰腺癌
                </label>
            </div>
            <label>肠癌</label>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="CancerName" value="结肠癌" />
                    结肠癌
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="CancerName" value="直肠癌" />
                    直肠癌
                </label>
            </div>
            <h3>泌尿系统</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="肾癌" />
                    肾癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="膀胱癌" />
                    膀胱癌
                </label>
            </div>
            <h3>血液系统</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="白血病" />
                    白血病
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="淋巴癌" />
                    淋巴癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="多发性骨髓癌" />
                    多发性骨髓癌
                </label>
            </div>
            <h3>生殖系统</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="乳腺癌" />
                    乳腺癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="子宫内膜癌" />
                    子宫内膜癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="宫颈癌" />
                    宫颈癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="卵巢癌" />
                    卵巢癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="外阴癌" />
                    外阴癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="滋养层细胞肿瘤" />
                    滋养层细胞肿瘤
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="前列腺癌" />
                    前列腺癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="阴茎癌" />
                    阴茎癌
                </label>
            </div>
            <h3>其它</h3>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="颅内肿瘤" />
                    颅内肿瘤
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="甲状腺癌" />
                    甲状腺癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="舌癌" />
                    舌癌
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="骨肿瘤" />
                    骨肿瘤
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="CancerName" value="皮肤癌" />
                    皮肤癌
                </label>
            </div>
            <button type="submit" class="btn btn-default">下一步</button>
        </form>
    </div>
</div>

