
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>患者问卷系统</h1>
    <p class="lead"></p>
    <p><a href="@Url.Action("CancerName","LungCancer")" class="btn btn-primary btn-lg">开始 &raquo;</a></p>
</div>